{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.js", "src/**/*.js", "scripts/**/*.js", ".eleventy.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
