---
layout: layout.njk
title: "Page Not Found — Democratic Justice"
description: "Sorry, we couldn’t find the page you were looking for."
permalink: /404.html
---

<section class="content-page" id="not-found">
  <div class="align-container">
    <h1>Page Not Found</h1>
    <p>Sorry, we couldn’t find the page you were looking for.</p>
    <p><a href="{{ '/' | url }}">Return home</a></p>
  </div>
</section>
