{% if proof %}
  {% set canonical = canonicalUrl or (site.url ~ (page.url | url)) %}
  {% set fallbackImage = site.url ~ site.defaultImage %}
  {% set selectedImage = imageUrlOverride or ogImage or fallbackImage %}
  {% set publishedDate = '' %}
  {% if proof.date %}
    {% set publishedDate = proof.date | date("yyyy-MM-dd'T'HH:mm:ssZZ") %}
  {% endif %}
  {% set modifiedDate = publishedDate %}
  {% if proof.updated %}
    {% set modifiedDate = proof.updated | date("yyyy-MM-dd'T'HH:mm:ssZZ") %}
  {% endif %}
  {% set authorEntry = proof.author %}
  {% if authorEntry and authorEntry.name %}
    {% set authorName = authorEntry.name %}
    {% set authorType = authorEntry.type or authorEntry['@type'] or "Person" %}
    {% elif authorEntry %}
    {% set authorName = authorEntry %}
    {% set authorType = "Person" %}
  {% else %}
    {% set authorName = "Democratic Justice" %}
    {% set authorType = "Organization" %}
  {% endif %}
  {% set jsonLd %}
  { "@context": "https://schema.org", "@type": "BlogPosting", "headline": {{ proof.title | dump }},
  "description": {{ proof.thesis | dump }},
  {% if proof.category %}
    "articleSection": {{ proof.category | dump }},
  {% endif %}
  {% if publishedDate %}
    "datePublished": {{ publishedDate | dump }},
  {% endif %}
  {% if modifiedDate %}
    "dateModified": {{ modifiedDate | dump }},
  {% endif %}
  "author": { "@type": {{ authorType | dump }}, "name": {{ authorName | dump }} }, "publisher": {
  "@type": "Organization", "name": "Democratic Justice", "logo": { "@type": "ImageObject", "url":
  {{ (site.url ~ '/images/wordmark-blue-on-white.svg') | dump }} } }, "mainEntityOfPage": { "@type":
  "WebPage", "@id": {{ canonical | dump }} }, "url": {{ canonical | dump }}, "image":
  {{ selectedImage | dump }}, "inLanguage": "en-US" }
  {% endset %}
  <script type="application/ld+json">
    {{ jsonLd | replace('</', '<\\/') | trim | safe }}
  </script>
{% endif %}
