---
pagination:
  data: proofs
  size: 1
  alias: proof
permalink: "share/{{ (proof.slug or proof.case_id) | slug }}-facebook.svg"
layout: null
---
<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="630" viewBox="0 0 1200 630">
  <rect width="100%" height="100%" fill="#ffffff"/>
  <text x="50%" y="25%" text-anchor="middle" font-family="'Oswald', sans-serif" font-size="100" font-weight="700" fill="#0F2742">PROOF {{ proof.case_id }}</text>
  <text x="50%" y="50%" text-anchor="middle" font-family="'Lato', sans-serif" font-size="48" fill="#0F2742">{{ proof.title }}</text>
  <text x="50%" y="75%" text-anchor="middle" font-family="'Lato', sans-serif" font-size="32" fill="#0F2742">{{ proof.violation | truncate(120) }}</text>
  <image href="{{ '/images/wordmark-blue-on-white.svg' | url }}" x="400" y="470" width="400" height="80" />
</svg>
